*{
    margin: 0;
    padding: O;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* Navbar Start*/
#navbar{
    background :f9f9f9;
}
#logo{
    font: size 36px;
    font-weight:700px;
    color:black;

    text-shadow: 0px 1px black;
    margin-bottom:5px;

}
#logo span{
    color:#ffa500
}
.navbar-toggler span{
color:#ffa500;
}
.navbar-nav{
    /* margin-left :2opx */
    width: 50%;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color:black;
    letter-spacing: 3px;
    border-radius: 3px;
    transition:o 5s ease;
    
}
.nav-item .nav-link:hover{
    background-color: #ffa500;
    color:white;
}
#navbar form button{
    background: orange;
    color:white;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.dropdown-toggle::after {
    display: none !important; 
}
.navbar .dropdown-active {
    display: block;
}
/* Navbar end*/

/* home section*/
.home{
    width: 100%;
    padding-block: 5rem ;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url("/assest/pictures/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding: top 200px;;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color:white;
    font-size:70px;
    font-weight:600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content:'';
    color:#ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content:"Edinburgh"}
    10%{content:"Inverness"}
    20%{content:"Glasgow"}
    30%{content:"Aberdeen"}
    40%{content:"Dundee"}
    50%{content:"Stirling"}
    60%{content:"Perth"}
    70%{content:"Dumfries"}
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white ;
    color: balck;
    letter-spacing: 1px;
    font-weight: 55;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;

}
/* home section end*/

/*section book start*/
.book{
    background: #f9f9f9;
    padding: 10px;
    display: grid;
    justify-content: center;
}
/*section book end*/

/*footer start*/
.footer{
  margin: 0;
  padding: 40px;
  box-sizing:border-box;
  font-family: 'Segoe UI';
  font-weight: 400;
  background-color: #ededed;
}
.social{
  text-align:center;
  padding: bottom 25px;
  color: #4b4c4b;   
}
.social a{
  font-size: 24px;
  color: orange ;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
 }
 .footer .social a:hover{
  opacity: 100;
}
.footer ul{
  margin-top:0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
 }
.footer ul li a {
  color:inherit ;
  text-decoration: none;
  opacity: 100;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer ul li:hover{
  opacity: 100;
}
.copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: hsl(0, 84%, 47%);
}
/* Footer Section */

.contact-header {
    text-align: center;
  }
  .contact-header h2 {
    font-style: italic;
    color: #033e8c;
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
  }
  .contact-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
  }
  
  .contact-detail {
    background-color: #033e8c;
    padding: 30px 10px;
    border-radius: 10px;
    height: 350px;
  }
  .contact-detail h2 {
    color: #ffc738;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    padding-left: 45px;
  }
  .contact-detail p {
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
  .basic-info {
    border-bottom: 1px solid white;
    padding: 15px 0px 45px 0px;
    color: #fff;
  }
  .contact-detail ul {
    list-style-type: none;
  }
  
  .basic-info a {
    padding: 5px 100px;
    margin-left: calc(20%);
  }
  .basic-info ul li i {
    padding: 10px 20px;
  }
  .social-icons ul li {
    display: inline-block;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .submit-message {
    text-align: right;
    padding: 10px;
  }
  @media (max-width: 830px){
    .basic-info a {
    padding: 5px 50px;
    margin-left: calc(20%);
  }
  
    }
  /* .message-form{
    position:relative;
  }
  .f-label{
    position:absolute;
    top:5px;
    left:35px;
    opacity:.5;
  }
   */

/* Utilities */
.button {
    height: fit-content;
    padding: 5px 10px;
    
}

.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}